/*
--primary-color: #49796b;
  --secondary-color: #234d20;
  --tertiary-color: #77ab59;
  --quaternary-color: #660066;
  --quinary-color: #edc655;
  --senary-color: #fcffad;
  --septenary-color: #f76414;
*/
* {
  box-sizing: border-box;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 10px;
}
.page-header__item {
  flex: 2 3 500px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
h1 {
  color: #800080;
  font-size: 36px;
  float: left;
}
h3 {
  color: #800080;
  font-size: 36px;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
.profile__portrait {
  float: left;
  width: 190px;
  height: auto;
  margin-right: 40px;
  border-radius: 20%;
  image-orientation: inherit;
}
body {
  background-image: url(../img/simple\ flowers.jpg);
  background-color:	#262626;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #d896ff;
  padding: 30px;
  margin: 30px;
  border: 10px;
  flex-direction: column;
  text-align: center;
}
table {
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 10px;
}
label {
  font-size: 22px;
  color: #800080;
}
.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.wrapper {
 box-shadow: 0 0 20px 0 #357b70;
 background-color: #5a5a5a;
}
.wrapper > *{
  padding: 30px;
}
.contact {
  background-color: rgb(27, 26, 26);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
}
h2 {
  color: #800080;
}
.page-footer {
  clear: both;
}
svg {
  width: 600px;
  height: 500px;
}
section {
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin: 30px;
  border: 10px;
  border-bottom: 20px;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #6699b3;
}
a:active {
  color: #d896ff;
  font-weight: bold;
  background-color: #efbbff;
}
.button {
  font-family: inherit;
  background-color:  #800080;
  color:  #6699b3, white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #357b70;
  max-width: 175px;
  max-height: 30px;
  flex-direction: column;
  text-align: center;
  transition-duration: 0.2s;
}
.button:hover {
  cursor: pointer;
  color: #800080;
  background-color: #357b70;
}
.button:focus {
  cursor: pointer;
  color: #800080;
  background-color: #357b70;
}
.button__secondary {
  background-color: #357b70;
  color: #800080;
  max-width: 175px;
  max-height: 30px;
  flex-direction: column;
  text-align: center;
  transition-duration: 0.2s;
}
.button__secondary:hover {
  cursor: pointer;
  color: #357b70;
  background-color: #800080;
}
.button__secondary:focus {
  cursor: pointer;
  color: #357b70;
  background-color: #800080;
}
th {
  color: #357b70;
  font-size: 24px;
}
a {
  color: #357b70;
}
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.standard-label {
  color: #efbbff
}
.class {
  background-color: #357b70;
  color: #efbbff;
}
table {
  flex-direction: column;
  text-align: center;
  float: none;
}

.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
/* start grid fallback */
.projects__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */
@supports (display: grid) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    transform: translate(10px, 50px);
    margin: 10;
    border-radius: 10px;
  }
  /* start grid fallback */
  .projects__item {
    display: inline-block;
    width: auto;
    min-height: auto;
    margin: 10;
    border-radius: 10px;
    border: 2px solid black;
  }
  /* end grid fallback */

}
.projects__item {
  background-color: #262626;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20x;
  border-radius: 10px;
  border: 2px solid black;
}
@media all and (max-width: 500px) {
  .projects {
    grid-template-columns: 1fr;
  }
  .section {
    width: 100%;
    justify-content: center;
    margin: none;
  }
  .profile__portrait {
    float: none;
    margin-right: none;
  }
  .a {
    font-size: 12px;
    width: 100%;
  }
  .h3 {
    width: 100%;
    justify-content: center;
    margin: none;
  }
  svg {
    width: 300px;
    height: 400px;
  } 
}
@media all and (min-width: 500px) and (max-width: 750px){
  .projects{
    grid-template-columns: 1fr 1fr;
  }
  .section {
    width: 100%;
    justify-content: center;
    margin: none;
  }
  .profile__portrait {
    float: none;
    margin-right: none;
  }
  .a {
    font-size: 12px;
    width: 100%;
  }
  .h3 {
    width: 100%;
    justify-content: center;
    margin: none;
  }
  svg {
    width: 300px;
    height: 400px;
  } 
}
@media all and (max-width: 750px) {
  .projects {
    grid-gap: 10px;
  }
  .projects__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@keyframes color-change {
  0% {
    fill: #fcffad;
  }
  50% {
    fill: #edc655;
  }
  100% {
    fill: #f76414;
  }
}
#fire {
  animation: 4s color-change infinite alternate linear;
}
#main-lantern, #lantern-left, #lantern-right {
  animation: 15s floating infinite alternate linear;
}
@keyframes floating {
    from {
      transform:translate(0, 0px);
    }
    to { 
      transform:translate(0, -200px);
    }
        
}


