/* font color: #e79f46
background color: black
title color: #660066
*/
/*
font-color: #77ab59
title-color: #234d20
link-color: #d2aaf4
background-color:	#f0f7da;
background-image: url(../img/monstera.jpg)
logo: url
*/
* {
    box-sizing: border-box;
  }
  .page-header {
    display: flex;
    width: 100%;
    padding: 10px;
  }
  .page-header__item {
    flex: 2 3 500px;
  }
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  h1 {
    color: #234d20;
    font-size: 36px;
    float: left;
  }
  h3 {
    color: #234d20;
    font-size: 36px;
    flex-direction: column;
    text-align: center;
  }
  .profile__portrait {
    float: left;
    width: 190px;
    height: auto;
    margin-right: 40px;
    border-radius: 20%;
  }
  body {
    background-image: url(../img/monstera.jpg);
    background-color:	#f0f7da;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #49796b;
    padding: 30px;
    margin: 30px;
    border: 10px;
    flex-direction: column;
    text-align: center;
  }
  table {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 10px;
  }
  .profile {
    max-width: 700px;
    margin: 0 auto;
  }
  h2 {
    color: #234d20;
  }
  .page-footer {
    clear: both;
  }
  a {
    color: #357b70;
  }
  svg {
    width: 600px;
    height: 500px;
  }
  section {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin: 30px;
    border: 10px;
  }
  a:hover {
    text-decoration: none;
  }
  a:visited {
    color: #77ab59;
  }
  
  a:active {
    color: #234d20;
  }
  
  .button {
    border: none;
    font-family: inherit;
    background-color: #234d20;
    color:  #77ab59;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    max-width: 175px;
    max-height: 30px;
    flex-direction: column;
    text-align: center;
    transition-duration: 0.2s;
  }
  .button:hover {
    cursor: pointer;
    color: #234d20;
    background-color: #77ab59;
  }
  .button:focus {
    cursor: pointer;
    color: #234d20;
    background-color: #77ab59;
  }
  .button__secondary {
    background-color: #77ab59;
    color: #234d20;
    max-width: 175px;
    max-height: 30px;
    flex-direction: column;
    text-align: center;
    transition-duration: 0.2s;
  }
  .button__secondary:hover {
    cursor: pointer;
    color: #77ab59;
    background-color: #234d20;
  }
  .button__secondary:focus {
    cursor: pointer;
    color: #77ab59;
    background-color: #234d20;
  }
  th {
    color: #49796b;
    font-size: 24px;
  }
  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .class {
    background-color: #77ab59;
    color: #660066;
  }
  table {
    flex-direction: column;
    text-align: center;
    float: none;
  }
  .navigation-list {
    list-style-type: none;
  }
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
  /* start grid fallback */
  .projects__item {
    display: inline-block;
    width: 33%;
  }
  /* end grid fallback */
  @supports (display: grid) {
    .projects {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      transform: translate(10px, 50px);
      margin: 0;
    }
    /* start grid fallback */
    .projects__item {
      display: inline-block;
      width: auto;
      min-height: auto;
      margin: 0;
    }
    /* end grid fallback */
  
  }
  .projects__item {
    background-color: hsl(70, 15%, 92%);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20x;
  }
  @media all and (max-width: 500px) {
    .projects {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .projects{
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .projects {
      grid-gap: 10px;
    }
    .projects__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  @keyframes color-change {
    0% {
      fill: #fcffad;
    }
    50% {
      fill: #edc655;
    }
    100% {
      fill: #f76414;
    }
  }
  #fire {
    animation: 4s color-change infinite alternate linear;
  }
  #main-lantern, #lantern-left, #lantern-right {
    animation: 15s floating alternate linear;
  }
  @keyframes floating {
      from {
        transform:translate(0, 0px);
      }
      to { 
        transform:translate(0, -200px);
      }
          
  }
  
  
  